## Build artefacts
Thumbs.db
.directory
build/*/
build/.portacle-finished-fragments
package/
## Build results
aspell/*/*/
aspell/share/
emacs/*/*/
emacs/config/
sbcl/*/*/
git/*/*/
hunspell/*/*/
asdf/*
quicklisp/
usr/
## Other stuff
projects/*